@import url(./reset.css);

:root {
  --right-angle: 90;
}

body {
  display: grid;
  place-items: center;
}

.time {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.grid {
  display: grid;
  gap: 0.25vw;
  grid-template-columns: repeat(22, 4vw);
  grid-template-rows: repeat(6, 4vw);
}

.clock {
  --background-color: hsl(0, 0%, 95%);
  --hand-color: hsl(0, 0%, 25%);
  --handle-whidth: calc(100% / 15);

  --hand1: 0;
  --hand2: 0;

  display: grid;
  place-items: center;

  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 6.25rem 6.25rem rgba(0, 0, 0, 0.25), 0 0.25rem 0.375rem rgba(0, 0, 0, 0.15),
    0 0.75rem 0.75rem rgba(0, 0, 0, 0.05), inset 0 -0.125rem 0.375rem 0 rgba(10, 37, 64, 0.35);
}

.center {
  background-color: var(--hand-color);
  width: var(--handle-whidth);
  height: var(--handle-whidth);
  border-radius: 50%;
}

.handle::before,
.handle::after {
  position: absolute;
  content: "";
  inset: 0;
  display: block;

  width: 50%;
  height: var(--handle-whidth);
  background-color: var(--hand-color);
  margin-top: calc(50% - var(--handle-whidth) / 2);
  border-radius: calc(var(--handle-whidth) * 2) 0 0 calc(var(--handle-whidth) * 2);

  transition: transform 1s;
  transform-origin: center right;
}

.handle::before {
  transform: rotate(calc((var(--hand1, 0) + var(--right-angle, 90)) * 1deg));
}

.handle::after {
  transform: rotate(calc((var(--hand2, 0) + var(--right-angle, 90)) * 1deg));
}
